*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS BIG SECTIONS */

.body-color{
    background-color: #d7dbd6;
}

header{
    height: 15vh;
    width: 100%;
    background-color: #009688;
}

main{
    min-width: 1200px;
    margin: 0.5rem auto;
    z-index: 2;
    position: absolute;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
}


/* LEFT SIDE */

.left-side{
    height: 94vh;
}
.profile-area{
    height: 26%;
}

.notifications p{
    font-size: .8rem;
}
.notifications a{
    font-size: .6rem;
}

.contacts-list{
    overflow-y: scroll;
    height: 74%;
}

.contact-name i{
    font-size: 3rem;
}

.contact-name img{
    height: 55px;
    border-radius: 50%;
}

.contact-name-description span{
    font-size: .8rem;
}

.each-card{
    background-color: #ffffff;
}

.each-card:hover{
    background-color: #e9ebeb;
    cursor: pointer;
}


/* ICONS */

.bel-icon{
    font-size: 1rem;
    border-radius: 50%;
    color: #8edafc;    
}


/* COMMON CSS */
/* COLORS */

.grey-background{
    background-color: #eaeaea;
}

.grey-icon{
    color: #b1b1b1;
}

.azure-background{
    background-color: #8edafc;
}